  <nav id="footer_nav">
    <a href='javascript:' class="to_before" title="{{ ir_anterior }}"><span>{{ ir_anterior }}</span></a>
    <a href='javascript:' class="to_next" title="{{ ir_siguiente }}"><span>{{ ir_siguiente }}</span></a>
    <a href='javascript:' class="to_top" title="Ir a inicio"><span>{{ ir_home }}</span></a>
    <a href="javascript:" id="open-menu"></a>
  </nav>